<title>Movieapp</title>
<h1>Movieapp</h1>
<h2>Movies</h2>
<hr>
{% for movie in movies %}
<a href="{{ url_for('movie_detail', title=movie.name) }}">{{ movie.name }}</a>
<br>
{{movie}}
<hr>
{% endfor %}
<br>
{% if session.username %}
<p>You're logged in as {{session.username}}</p>

{% if session.is_admin == True %}    
<p>You are an admin user</p>
<br>
<a href="{{ url_for('admin_panel') }}">Admin Panel</a>    
<br> 
<br>
{% endif %}

<a href="/logout">Log Out</a>

{%else%}
<p> You're not logged in </p>
<a href="/login">Login Page</a>
{% endif %}
