<h2> 
    <a href="{{ url_for('index') }}">Front Page</a> 
</h2>
<h1>{{movie.name, movie.year}} </h1>

<br>
<a href="{{ url_for('movie_detail', title=movie.name) }}">Movie: {{ movie.name }}</a>
{% if movie_genres %}
<h2> Genres: </h2>
<p><h3>
     {% for genre in movie_genres %}
    {{ genre }}{% if not loop.last %}, {% endif %}
    {% endfor %}
</h3></p>
{% endif %}
{% if score %}
<h2> Average score: {{ score }}/10</h2>
{% endif %}
<br><br>
{% if session.username %}
<a href="{{ url_for('review', title=movie.name) }}">Review</a>
{% endif %}
<br>
{% if movie_reviews %}
<h2>Reviews:</h2>
    <ul>
        {% for review in movie_reviews %}
            <li>
                <strong>User: {{ users[loop.index-1] }}</strong> 
                <br>
                Score: {{ review[2] }}/10 
                <br>
                Reviewed at: {{ timestamps[loop.index-1] }}<br>
                Review: {{ review[1] }}
                <br>
                {% if session.username %}
                    <div>
                    <span>
                    <form method="POST" action="{{ url_for('like_review', review_id=review.id) }}" style="display: inline;">
                        <input type="hidden" name="action" value="like">
                        <button type="submit">Like</button>
                    </form></span>
                    <span><form method="POST" action="{{ url_for('like_review', review_id=review.id) }}" style="display: inline;">
                        <input type="hidden" name="action" value="dislike">
                        <button type="submit">Dislike</button>
                    </form></span>
                    </div>
                    {% endif %}
                    <span class="like.count">{{ likecounts[loop.index-1] }} Likes,</span> 
                    <span class="dislike.count">{{ dislikecounts[loop.index-1] }} Dislikes</span>
                    <br><br>
                {% if session.is_admin or session.user_id == review[3] %}
                <span>
                    <form method="POST" action="{{ url_for('confirm_delete_review', review_id=review.id) }}">
                        <button type="submit">Delete Review</button> <b> Deleting is permanent </b> 
                    </form>
                </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
No reviews yet.    
{% endif %}
